#container {
  width: 200px; 
  height: 200px; 
  background-color: orange; 
  position: relative; 
}

#animate {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  background-color: red;
  top: 0px;
  right: 0px;
}

#heading {
  padding: 40px;
}

#animate_message {
  padding: 30px;
  font-size: 15px;
}